/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
    margin: 20px 0px;
    padding:20px;
    border:1px solid black;
}
.style-me1{
    color:red;
}
#style-me2{
    color:blue;
}
/*selects all the styleme2 items with class styleme1*/
#style-me2.style-me1{
    color:purple;
}

/* Put styles for questions 2.1 and 2.2 here */
/* descendantcombinator */
.my-descendants-are-styled p{
    background-color:red;
}

/* child combinator */
.my-children-are-styled>p{
    background-color:lightgreen;
}


/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box{
    background-color:lightseagreen;
    margin: 10px 20px 30px 40px;
    padding: 2%;
    width: 60vw;
    height: 25vh!important; 
    height: 10vh!important; 
    /* need important to override the height set in html file */
    border: 10px solid black;
    border: 2px dashed darkblue;
    /* box sizing include padding & border in elements total width & height  */
    /* border-box makes content fit inside the parent */
    box-sizing: content-box;
    box-sizing: border-box;
    overflow:hidden; /*just hides overflow*/
    overflow:scroll; /*add scroll to all boxes*/
    overflow:visible; /*allows overflow to overflow & be visible*/
    overflow:auto; /*adds scroll bar*/
    outline:10px solid rgb(0, 204, 255);
    border-radius:10%;
    background-image: url(/lab-2-css/assets/images/img1.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */


/* IV. Styling text */
/* Put styles for questions 1-10 here */


/* V. Styling links */
/* Put styles for questions 1-3 here */


/* VI. calc() */
/* Put styles for questions 1-3 here */
